/* Add CSS Styling */
#first {
    background-color:black; 
    color: white;
}

#second {
    color: black;
background-color:yellow
}

.fonts {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", serif;
   
}
